<div class="post-list">
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h1 class="year" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
    <ul class="list list--posts">
    {% assign date = currentdate %}
  {% endif %}
	    <li class="item item--post">
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="inline">
        <span>
          {% for categories in post.categories %}
            #{{ categories }}
          {% endfor %}
        </span>
				<span class="date"> {{ post.date	| date: "%m/%d/%Y" }} </span>
        </div>
			</li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</div>
