<footer class="footer">
  <div class="footer-container">
      <div class = contacts>
        <a href="https://hu.linkedin.com/in/tamás-markó-b88505b9">
          <img src="{{ site.baseurl}}/assets/linkedin.svg">
        </a>
      </div>
      <div class = contacts>
        <a href="https://github.com/tarkomatas/">
          <img src="{{ site.baseurl}}/assets/github.svg">
        </a>
      </div>
      <div class = contacts>
        <a href="https://twitter.com/tarkomatas">
          <img src="{{ site.baseurl}}/assets/twitter.svg">
        </a>
      </div>
  </div>
</footer>
