---
---

@import "garth";

body {
  background: white;
}

a {
  color: black;
}

a:hover {
  color: #5a90d9;
}

.header {
  background: #5a90d9;
  a {
    color: white;
  }
  a:hover {
    color: grey;
  }
}

.footer {
  border-top: none;
}

.small {
    color: black;
}

.list--nav .item a {
  padding: 10px;
}

.typeset pre {
  max-width: 900px;
}

.item--post .date {
  float: right;
  color: #ccc
}

.item--post span {
  color: grey;
}

.year {
  font-size: 2.1333333333rem;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 800;
}


.main {
  max-width: 800px;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.typeset p a, .typeset li a {
    text-shadow: none;
}

@media screen and (min-width: 40em) {
      .typeset ul li, .typeset ol li {
        margin-left: 2rem;
      }
}

footer .footer-container {
  width: 100%;
	margin: auto;
	text-align: center;
	padding: 15px 0px;
}

.contacts {
	display: inline-block;
}

.contacts a{
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	line-height: 80px;
	margin: 0px 20px;
	/* for the animation */
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.contacts a:hover {
	background-color: white;
	color: #5a90d9;
}

@media (max-width: 640px) {
  .post-list {
    text-align: center;
  }

  .item--post a {
    font-size: 1.6rem;
  }

  .year {
    font-size: 2.5rem;
  }

  .item--post .date {
      float: none;
  }
}
